
// Override this file to add your own SCSS styling.


body {
  
  font-family: montserrat,PingFang SC,Microsoft YaHei,微软雅黑,STXihei,华文细黑,sans-serif;
  font-size: 16px;
  color: #000;
  
}








.user-icon-avatar {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  font-size: 4rem;
  margin: 0 auto;
  object-fit: cover;
  color: #666;
}

#section-hero {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
  }

  .hero-title {
    font-size: 3rem;
    padding: 1rem;
  }
  .hero-lead {
    font-size: 0.8rem;
  }
}

#section-news {
  h1 {
    font-size: 1.4rem;
  }

  .card-simple .article-title {
    font-size: 0.8rem;
  }
  .card-simple .article-style {
    font-size: 0.8rem;
  }


}

@media (max-width: 478px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
